<!-- <router-outlet>
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo'">
  <title>Menu</title>
</head>
<body >
    <div class="container ">
      <div class="row mt-5">
        <div class="col text-center">
          <h1 class="alert alert-info">قائمة الطعام</h1>
        </div>
      </div>
      <div class="row bg-dark text-white">
        <div class="col">
          <span class="p-2">
            إجمالي السعر
          </span>
        <span> {{total}}</span> 
        </div>
        <div class="col">
          عدد الطلبات  {{Quan}} 
        </div>
      </div>
      <div class="card d-flex align-items-center justify-content">
        <div class="card-body">
        <table class="table d-flex align-items-center " >
          <thead>
            <tr>
              <td>رقم المنتج</td>
              <td>اسم المنتج</td>
              <td>سعر المنتج</td>
              <td>وصف المنتج</td>
              <td>صوره المنتج</td>
              <td>اختر</td>
            </tr>
          </thead>
          
          <tbody>
            <tr *ngFor="let item of foodmenu" class="d-flex align-middle ">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>{{item.description}}</td>
              <td > <img [src]="item.img" alt="" width="100" height="100"></td>
              <td> <input type="checkbox"(change)="sum($event,item.price)"></td>
            </tr>
          </tbody>
        </table> 
      

        </div>
      </div>
    </div>
</body>
</html>
</router-outlet> -->

<div class="container ">
  <div class="row mt-4">
    <div class="col text-center p-2" >
      <h1 class="alert alert-success" value="#8B70B2">قائمة الطعام</h1>
    </div>
  </div>
  <div class="row bg-light text-black p-2">
    <div class="col">
      <span class="p-2">
        إجمالي السعر
      </span>
    <span> {{total}}</span> 
    </div>
    <div class="col">
      <span class="p-2"> عدد الطلبات  </span>
     <span> {{Quan}} </span> 
    </div>
  </div> 
 <div class="row ">
  <div class="col p-2">
    <label for="search" class="col-sm-2 col-form-label">Search</label>
    <input type="search" class="form-control border-success" [(ngModel)]="Searchtxt">


  </div>
 </div>

  <div class="card border-success">
    <div class="card-body p-2">
    <table class="table table-d-flex align-items-center " >
      <thead>
        <tr>
          <td>رقم المنتج</td>
          <td>اسم المنتج</td>
          <td>سعر المنتج</td>
          <td>وصف المنتج</td>
          <td>صوره المنتج</td>
          <td>اختر</td>
        </tr>
      </thead> 
      <tbody>
        <tr *ngFor="let item of find(foodmenu)" >
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>{{item.description}}</td>
          <td> <img [src]="item.img" alt="" width="100" height="100"></td>
          <td><input type="checkbox" (change)="sum($event,item.price)"> </td>

        </tr>
      </tbody>
    </table>

    </div>
  </div>
</div>